body {

    /*background-color: #CECECE;*/
    background-color: white;
    font: 14px 'PT Sans', sans-serif;
}

a {
  color: #00B7FF;
}

header {
    background-color: #313131;
    color: white;
    padding: 50px ;
}

.code {

}

#content-wrapper {
    padding: 50px;
}

.instruction {
    font-size: 20px;
    line-height: 300%;
}
.title {
    color: white;
    font: 48px 'Bangers', cursive;
}

.signin {
    cursor: pointer;
}